<div ng-controller="testowyCtrl">

    <div class="row">
        <div class="page-header">
            <h2>
                Praca inżynierska - informacje
                <a href="#student/topic/list" class="btn btn-default pull-right">
                    Lista tematów
                </a>
            </h2>
        </div>

        <div class="col-md-12">
            <h3>Temat</h3>
            <p>
                <b>Technologia i charakteryzacja struktur MISFET z dielektrykami bramkowymi w postaci ultra-cienkich warstw dielektrycznych wytwarzanych</b>
            </p>

            <h3>Opiekun</h3>
            <p>
                Robert Paweł MROCZYŃSKI
            </p>
            <p>
                <a>Wyślij @ do opiekuna</a>
            </p>

            <h3>
                Szczegóły
            </h3>

            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
            <h3>
                Wykorzystywane narzędzia (sprzęt, typ komputera, oprogramowanie, inne):
            </h3>
            <p>
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. </p>
            </p>


        </div>

    </div><!-- /.row -->


</div>
