body {
    padding-top: 70px;
}
.navbar-brand {
    
}
.jumbotron {
    padding-top: 0px;
    background-color: rgba(238, 238, 238, 0.36);
}
.table .table {
    background-color: rgba(238, 238, 238, 0.36);
}

.jumbotron p {
    font-size: inherit;
}

.with-top-padding {
    padding-top: 30px;
}

.with-background {
    background-color: rgba(242, 242, 242, 0.38);
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.hiddenRow {
    margin-left: 20px;
    margin-right: 20px;
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.title-column {
    cursor: pointer;
    cursor: hand;
    width: 900px;
    overflow: hidden;
}
.row-with-pointer {
    cursor: pointer;
    cursor: hand;
}
.select-column {
    width: 2px;
    overflow: hidden;
}
.form-group label{
    /* text-align:right; */
    text-align:left;
}

.td-inline {
    white-space:nowrap;
}

.with-margin-bottom{
    margin-bottom: 40px;
}

@media (max-width: 1204px) {
    body {
        padding-top: 110px;
    }
}

@media (max-width: 1095px) {
    body {
        /*padding-top: 160px;*/
        padding-top: 70px;
    }
}

@media (max-width: 752px) {
    body {
        padding-top: 70px;
    }
    .page-header {
        margin: 0px 0 0px;
    }
    .page-header h2{
        text-align: center;
    }
    .page-header .btn{
        display: inline-block;
        float: right;
        margin-bottom: 5px;
    }
    .container .filter-menu {
        margin-top: 10px;
    }

}

@media (min-width: 768px) and (max-width: 1095px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }

    .the-table {
        table-layout: fixed;
        word-wrap: break-word;
    }
}
/*


.thead-inverse{
    background-color: #222;
}*/
