body {
    padding-top: 30px;
}
.hiddenRow {
    margin-left: 20px;
    margin-right: 20px;
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.title-column {
    cursor: pointer;
    cursor: hand;
    width: 900px;
    overflow: hidden;
}
.row-with-pointer {
    cursor: pointer;
    cursor: hand;
}
.select-column {
    width: 2px;
    overflow: hidden;
}
.form-group label{
    /* text-align:right; */
    text-align:left;
}

.td-inline {
    white-space:nowrap;
}

.with-margin-bottom{
    margin-bottom: 40px;
}
/*


.thead-inverse{
    background-color: #222;
}*/
