<div>

    <div class="row">
        <div class="page-header">
            <h2>
                Moje tematy
                <a class="btn btn-primary pull-right" target="_blank" ng-href="{{url}}" ng-mousedown="newTopic()">
                    Dodaj temat
                </a>

            </h2>
        </div>

        <div class="row">
            <div class="form-group col-xs-2">
                <label>Wyszukiwarka:</label>
                <input type="text" class="form-control" placeholder="wyszukaj...">
            </div>

            <div class="form-group col-xs-2">
                <label>Status:</label>
                <select class="form-control" id="sel1">
                    <option></option>
                    <option>Przydzielony</option>
                    <option>Skończony</option>
                    <option>Zamknięty</option>
                    <option>Zatwierdzony</option>
                    <option>Do modyfikacji</option>
                </select>
            </div>

            <label>Lata:</label>
            <div class="container">

                <div class='col-md-2'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker6'>
                            <input type='text' class="form-control" placeholder="od" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                    </div>
                </div>

                <div class='col-md-2'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker7'>
                            <input type='text' class="form-control" placeholder="do"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <span class="label label-default">tag1</span>
            <span class="label label-primary">tag2</span>
            <span class="label label-success">tag3</span>
            <span class="label label-info">angularjs</span>
            <span class="label label-warning">jquery</span>
            <span class="label label-danger">aplikacje mobilne</span>
            <span class="label label-default">javascript</span>
            <span class="label label-primary">mysql</span>
            <span class="label label-success">c++</span>
            <span class="label label-info">grafika</span>
            <span class="label label-warning">django</span>
            <span class="label label-danger">c#</span>
        </div>

        <div class="col-md-12">
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Temat</th>
                        <th>Data dodania</th>
                        <th>Status</th>
                        <th>Popularność</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="topic in topics" >
                            <th class="select-column">{{$index}}</th>
                            <td data-toggle="collapse" data-target="{{ '#demo' + $index }}" class="title-column accordion-toggle">
                                {{topic.title}}

                                <p><b>Student: {{topic.student}}</b></p>
                                <p><i>{{topic.tags}}</i></p>

                                <div class="hiddenRow accordian-body collapse" id="{{ 'demo' + $index }}">
                                    <table class="table table table-borderless">
                                        <tr>
                                            <th>typ</th>
                                            <th>instytut prowadzący</th>
                                            <th>specjalność</th>
                                            <th>temat prywatny</th>
                                            <th>może być realizowany po angielsku</th>
                                        </tr>
                                        <tr>
                                            <td>{{topic.type}}</td>
                                            <td>{{topic.institute}}</td>
                                            <td>{{topic.specialty}}</td>
                                            <td>{{topic.private}}</td>
                                            <td>{{topic.english}}</td>
                                        </tr>
                                    </table>

                                    <b>Zakres prac w przeciągu dwóch semestrów:</b>
                                    <p>{{topic.scope}}</p>
                                    <b>Wykorzystywane narzędzia (sprzęt, typ komputera, oprogramowanie, inne):</b>
                                    <p>{{topic.tools}}</p>

                                    <p>
                                        <a target="_blank" ng-href="{{url}}" ng-mousedown="clone()">
                                            <span class="glyphicon glyphicon-duplicate"></span> <b>Klonuj...</b>
                                        </a>
                                    </p>
                                </div>

                            </td>
                            <td>01.01.2015</td>

                            <td class="select-column">
                                {{topic.status}}
                            </td>

                            <td>
                                {{topic.popularity}}
                                <a target="_blank" ng-href="{{url}}" ng-mousedown="interestedStudents()" title="Studenci, którzy wybrali temat"  class="btn">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </a>
                            </td>

                            <td>
                                <a target="_blank" ng-href="{{url}}" ng-mousedown="edit()" title="Edytuj temat" class="btn">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

    </div><!-- /.row -->


</div>
