<div>
    <div class="row">
        <div class="page-header">
            <h2>
                Nowy temat
            </h2>
        </div>

        <div class="row">
            <div class="col-md-12 with-margin-bottom">
                <form role="form" ng-submit="add()">
                    <div class="box-body">

                        <div class="form-group">
                            <label>Autor tematu</label>
                            <input class="form-control" ng-model="topic.supervisor_id" rows="1" placeholder="Wyszukaj autora..."/>
                        </div>
                        <div class="form-group">
                            <label>Klonuj</label>
                            <input class="form-control" rows="1" placeholder="Wpisz tagi aby wyszukać szablon..."/>
                        </div>
                        <div class="form-group">
                            <label>Tytuł</label>
                            <textarea class="form-control" ng-model="topic.title" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Słowa kluczowe (tagi)</label>
                            <input class="form-control" ng-model="topic.tags" rows="1" placeholder=""/>
                        </div>
                        <div class="form-group">
                            <label>Typ</label>

                            <select class="form-control" ng-model="topic.studiesTypes" ng-options="type.id as type.name for type in studiesTypes"></select>
                        </div>
                        <div class="form-group">
                            <label>Instytut prowadzący</label>
                            <select class="form-control" ng-model="topic.institute_id" ng-options="institute.id as institute.name for institute in institutes">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Specjalność</label>
                            <select class="form-control" ng-model="topic.specialty_id" ng-options="specialty.id as specialty.name for specialty in specialties">
                               <!-- <option>Inżynieria systemów informatycznych </option>
                                <option>Systemy informacyjno - decyzyjne</option>-->
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Proponowana liczba studentów </label>
                            <select class="form-control" ng-model="topic.max_students" ng-options="student_no for student_no in number_of_students"></select>
                        </div>
                        <div class="form-group">
                            <label>Widoczność tematu</label><br/>
                            <div class="radio-inline">
                                <!--wybranie prytwatnego powoduje rozwiniecie wyszkiwarki sutdentow-->
                                <label><input type="radio" name="optradio" ng-model="isPrivate" value="1">Temat prywatny</label>
                            </div>
                            <div class="radio-inline">
                                <label><input type="radio" name="optradio" ng-model="isPrivate" value="2" >Temat widoczny dla wszystkich</label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="isPrivate == '1'">
                            <label>Wybierz studenta</label>
                            <input class="form-control" rows="1" placeholder="wyszkiwarka studentów"/>
                        </div>
                        <div class="form-group">
                            <label>Język</label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Możliwość realizacji w języku angielskim</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Zakres prac w przeciągu dwóch semestrów</label>
                            <textarea class="form-control" ng-model="topic.details" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Wykorzystywane narzędzia (sprzęt, typ komputera, oprogramowanie, inne)</label>
                            <textarea class="form-control" ng-model="topic.tools" rows="5"></textarea>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right disabled">Dodaj</button>

                    </div>
                </form>
            </div>

        </div>

    </div>
</div>