<div>

    <div class="row">
        <div class="page-header">
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <a href="director/topic" class="btn btn-default pull-right">Zarządzaj tematami </a>
                </div>
            </div>
            <h2>
                Przydziel temat
            </h2>

        </div>

        <div class="row">
            <div class="container filter-menu">
                <div class="form-group col-xs-6 col-md-2">
                    <label>Wyszukiwarka:</label>
                    <input type="text" class="form-control" placeholder="wyszukaj...">
                </div>

                <div class="form-group col-xs-6 col-md-2">
                    <label>Specjalność:</label>
                    <select class="form-control" id="sel1">
                        <option></option>
                        <option>Inżynieria systemów informatycznych</option>
                        <option>Systemy informacyjno - decyzyjne</option>
                        <option>Elektronika i inżynieria komputerowa</option>
                        <option>Elektronika i informatyka w medycynie</option>
                        <option>Radiokomunikacja i techniki multimedialne</option>
                        <option>Teleinformatyka i zarządzanie w telekomunikacji </option>
                        <option>Systemy i sieci telekomunikacyjne</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="col-md-6">


            <div style="overflow-x:auto;">

                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Średnia</th>
                        <th>Nazwisko i imię</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="student in students" ng-click="showStudent(student)" class="row-with-pointer">
                        <th class="select-column">{{$index}}</th>
                        <td>
                            {{student.average | number : 2}}
                        </td>
                        <td>
                            {{student.lastname}} {{student.name}}

                        </td>
                        <td>
                            <a class="btn">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>

                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-md-6">
            <h4>{{ selectedStudent.name }} {{selectedStudent.lastname }} - wybrane tematy</h4>
            <ul class="nav nav-tabs">
                <li class="nav-item" ng-class="{ active:isSelected(1) }">
                    <a href ng-click="selectTab(1)">Temat 1</a>
                </li>
                <li class="nav-item" ng-class="{active:isSelected(2)}">
                    <a href ng-click="selectTab(2)">Temat 2</a>
                </li>
                <li class="nav-item" ng-class="{active:isSelected(3)}">
                    <a href ng-click="selectTab(3)">Temat 3</a>
                </li>
                <li class="nav-item" ng-class="{active:isSelected(4)}">
                    <a href ng-click="selectTab(4)">Temat 4</a>
                </li>
                <li class="nav-item" ng-class="{active:isSelected(5)}">
                    <a href ng-click="selectTab(5)">Temat 5</a>
                </li>
            </ul>
            <br />
            <div id="topic1" ng-show="isSelected(1)">
                <b>Tytuł:</b>
                <p>
                    {{ selectedStudent.topic.title }}
                </p>
                <b>Typ:</b>
                <p>
                    {{ selectedStudent.topic.studiesType.name}}
                </p>
                <b>Autor:</b>
                <p>
                    {{ selectedStudent.author }}
                </p>
                <b>Instytut prowadzący:</b>
                <p>
                    {{ selectedStudent.institute }}
                </p>
                <b>Liczba osób:</b>
                <p>
                    0/{{ selectedStudent.number_of_students }}
                </p>
                <b>Ilość dyplomantów autora:</b>
                <p>2</p>
                <p>
                    <div  class="accordion-toggle row-with-pointer" data-toggle="collapse" data-target="{{ '#details' }}">
                        <b><i>Szczegóły tematu...</i></b>

                        <div class="hiddenRow accordian-body collapse" id="details">
                            <b>Zakres prac w przeciągu dwóch semestrów:</b>
                             <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                            </p>
                            <b>Wykorzystywane narzędzia (sprzęt, typ komputera, oprogramowanie, inne):</b>
                            <p>
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                            </p>
                        </div>

                    </div>
                </p>

                <p>

                    <button type="button" class="btn btn-default pull-left disabled" data-dismiss="modal">Cofnij przydział</button>
                    <button type="button" class="btn btn-primary pull-right disabled">Przydziel</button>
                </p>

            </div><!-- /.tab-pane -->

            <div ng-show="isSelected(2)" id="topic2">
                <b>Tytuł:</b>
                <p>TEMAT2</p>
                <b>Typ:</b>
                <p>Inżynierski</p>
                <b>Autor:</b>
                <p>dr mgr inż. Stanisław Stanisławski</p>
                <b>Instytut prowadzący:</b>
                <p>Instytut Systemów Elektronicznych</p>
                <b>Liczba osób:</b>
                <p>0/1</p>
                <b>Ilość dyplomantów autora:</b>
                <p>2</p>

                <p>

                    <button type="button" class="btn btn-default pull-left disabled" data-dismiss="modal">Cofnij przydział</button>
                    <button type="button" class="btn btn-primary pull-right disabled">Przydziel</button>
                </p>
            </div>




        </div><!-- col-md-6-->

    </div><!-- /.row -->


</div>
