<div>

    <div class="row">
        <div class="page-header">
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <a href="director/topic/assign" class="btn btn-default">
                        Przydziel studentom
                    </a>

                    <a href="director/topic/tags" class="btn btn-default disabled">
                        Zarządzaj tagami
                    </a>
                    <a class="btn btn-primary" target="_blank" ng-href="{{url}}" ng-mousedown="newTopic()">
                        Dodaj temat
                    </a>
                </div>
            </div>
            <h2>Zarządzaj tematami</h2>
        </div>


        <div class="row">
            <div class="container filter-menu">
                <div class="form-group col-xs-6 col-md-2">
                    <label>Wyszukiwarka:</label>
                    <input type="text" class="form-control" placeholder="wyszukaj..." ng-model="searchText">
                </div>
                <div class="form-group  col-xs-6 col-md-2">
                    <label>Status:</label>
                    <select class="form-control" id="sel1">
                        <option></option>
                        <option>Przydzielony</option>
                        <option>Skończony</option>
                        <option>Zamknięty</option>
                        <option>Zatwierdzony</option>
                        <option>Do modyfikacji</option>
                    </select>
                </div>
                <div class="col-xs-6 col-md-2">
                    <label>Lata:</label>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker6'>
                            <input type='text' class="form-control" placeholder="od" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="col-xs-6 col-md-2">
                    <label>&nbsp;</label>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker7'>
                            <input type='text' class="form-control" placeholder="do"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <span class="label label-default">tag1</span>
            <span class="label label-primary">tag2</span>
            <span class="label label-success">tag3</span>
            <span class="label label-info">angularjs</span>
            <span class="label label-warning">jquery</span>
            <span class="label label-danger">matlab</span>
            <span class="label label-default">javascript</span>
            <span class="label label-primary">mysql</span>
            <span class="label label-success">c++</span>
            <span class="label label-info">python</span>
            <span class="label label-warning">django</span>
            <span class="label label-danger">c#</span>
        </div>

        <div class="col-md-12">
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Temat</th>
                        <th>Data dodania</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="topic in topics | filter:searchText">
                        <th class="select-column">{{$index}}</th>
                        <td data-toggle="collapse" data-target="{{ '#demo' + $index }}" class="title-column accordion-toggle">
                            {{topic.title}}
                            <p><i><b>{{topic.tags}}</b></i></p>
                            <!--<div><b>Autor:</b> {{topic.author}}</div>-->
                            <div><b>Autor:</b> {{topic.supervisor.name}} {{topic.supervisor.lastname}}</div>
                            <div><b>Typ:</b> {{topic.studiesType.name}}</div>
                            <div><b>Popularność:</b> {{topic.popularity}}</div>
                            <a class="btn">
                                <span class=" glyphicon glyphicon-menu-down"></span>
                            </a>

                            <div class="hiddenRow accordian-body collapse" id="{{ 'demo' + $index }}">
                                <table class="table table table-borderless">
                                    <tr>
                                        <th>typ</th>
                                        <th>instytut prowadzący</th>
                                        <th>specjalność</th>
                                        <th>temat prywatny</th>
                                        <th>może być realizowany po angielsku</th>
                                    </tr>
                                    <tr>
                                        <td>{{topic.studiesType.name}}</td>
                                        <td>{{topic.institute.name}}</td>
                                        <td>{{topic.specialty.name}}</td>
                                        <td>{{topic.privateTopic}}</td>
                                        <td>{{topic.english}}</td>
                                    </tr>
                                </table>

                                <b>Zakres prac w przeciągu dwóch semestrów:</b>
                                <p>{{topic.details}}</p>
                                <b>Wykorzystywane narzędzia (sprzęt, typ komputera, oprogramowanie, inne):</b>
                                <p>{{topic.tools}}</p>

                            </div>

                        </td>
                        <!--<td>01.01.1999</td>-->
                        <td>{{topic.creationDate}}</td>
                        <td class="select-column">
                            <!--{{topic.status}}-->
                            {{topic.status.name}}
                        </td>
                        <td>
                            <a target="_blank" ng-href="{{url}}" ng-mousedown="edit()" title="Edytuj temat" class="btn">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>

    </div><!-- /.row -->


</div>
