<div>

    <div class="row">
        <div class="page-header">
            <h2>
                Zarządzaj tematami
                <a class="btn btn-primary pull-right" target="_blank" ng-href="{{url}}" ng-mousedown="newTopic()">
                    Dodaj temat
                </a>

                <a href="director/topic/tags" class="btn btn-default pull-right">
                    Zarządzaj tagami
                </a>

                <a href="director/topic/assign" class="btn btn-default pull-right">
                    Przydziel studentom
                </a>

            </h2>
        </div>


        <div class="col-md-12">

        </div>

    </div><!-- /.row -->


</div>
