<div ng-controller="myStudentsCtrl">

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Moi studenci</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nazwisko</th>
                    <th>Imię</th>
                    <th>Start dyplomowania</th>
                    <th>Status pracy</th>
                    <th>Edytuj</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Jankowski</td>
                    <td>Mateusz</td>
                    <td>13.04.2005</td>
                    <td>Przydzielony</td>
                    <td>X</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Borkowski</td>
                    <td>Tadeusz</td>
                    <td>13.04.2008</td>
                    <td>Zakończony</td>
                    <td>C</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>InternetExplorer</td>
                    <td>Andrzej</td>
                    <td>13.04.2010</td>
                    <td>Zamknięty</td>

                    <td>A</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Strzemiński</td>
                    <td>Ireneusz</td>
                    <td>1</td>
                    <td>Win 98+</td>

                    <td>A</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Markowski</td>
                    <td>Przemysław</td>
                    <td>1</td>
                    <td>Win XP SP2+</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Głuchowski</td>
                    <td>Krzysztof</td>
                    <td>1</td>
                    <td>Win XP</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Rabarbara</td>
                    <td>Barbara</td>
                    <td>1</td>
                    <td>Win 98+ / OSX.2+</td>

                    <td>A</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Lalalalaa</td>
                    <td>Antoni</td>
                    <td>1</td>
                    <td>Win XP</td>

                    <td>A</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Naziwskowski</td>
                    <td>Waldemar</td>
                    <td>1</td>
                    <td>Win XP</td>

                    <td>A</td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>